#DetailsPage {
  padding-block: 100px;
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .block {
      width: 100%;
      max-width: clamp(18.75rem, -1.589rem + 101.69vw, 93.75rem);
      padding: 60px;
      -webkit-box-shadow: 1px 3px 13px 1px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 1px 3px 13px 1px rgba(34, 60, 80, 0.2);
      box-shadow: 1px 3px 13px 1px rgba(34, 60, 80, 0.2);

      .card {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
        .image {
          width: 100%;
          max-width: clamp(12.5rem, 5.682rem + 34.09vw, 31.25rem);
          padding: 50px 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          -webkit-box-shadow: 1px 3px 13px 1px rgba(34, 60, 80, 0.2);
          -moz-box-shadow: 1px 3px 13px 1px rgba(34, 60, 80, 0.2);
          box-shadow: 1px 3px 13px 1px rgba(34, 60, 80, 0.2);
        }
        .text {
          width: 100%;
          max-width: clamp(15.625rem, 8.333rem + 36.46vw, 37.5rem);
          display: flex;
          flex-direction: column;
          gap: 15px;
          .name_price {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 13px;
            h3 {
              font-weight: 400;
              font-size: clamp(0.938rem, 0.483rem + 2.27vw, 2.188rem);
              color: #0a8791;
            }
            .price {
              font-weight: 600;
              font-style: Bold;
              font-size: clamp(0.938rem, 0.542rem + 1.98vw, 2.125rem);
              color: #fe585a;
              span {
                font-weight: 400;
                font-size: clamp(0.938rem, 0.542rem + 1.98vw, 2.125rem);
                color: #fe585a;
              }
            }
          }
          .datas {
            display: flex;
            flex-direction: column;
            gap: 10px;
            p {
              font-weight: 400;
              font-size: clamp(0.625rem, 0.458rem + 0.83vw, 1.125rem);
              color: #868889;
              span {
                font-weight: 400;
                font-size: clamp(0.625rem, 0.458rem + 0.83vw, 1.125rem);
                color: #0a8791;
              }

              .more {
                background: none;
                border: none;
                color: #525252;
                font-size: clamp(0.563rem, 0.479rem + 0.42vw, 0.813rem);
                cursor: pointer;
                padding: 0;
              }
            }
            .star {
              display: flex;
              align-items: end;
              gap: 8px;
              margin-top: 5px;
              .raiting {
                font-weight: 400;
                font-size: 22px;
                color: #525252;
              }
            }
          }
          .btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            margin-top: 10px;
            button:nth-child(1) {
              width: 100%;
              padding: 18px 20px;
              border-radius: 18px;
              border: 1px solid #0a8791;
              background: #0a8791;
              color: white;
              font-weight: 500;
              font-size: clamp(0.625rem, 0.458rem + 0.83vw, 1.125rem);
              transition: 0.8 ease;
              &:hover {
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
                transform: translateY(-2px);
              }
            }
            button:nth-child(2) {
              width: 100%;
              padding: 18px 20px;
              border-radius: 18px;
              border: 1px solid #0a8791;
              color: #0a8791;
              font-weight: 500;
              font-size: clamp(0.625rem, 0.458rem + 0.83vw, 1.125rem);
              background: white;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              transition: 0.8 ease;
              &:hover {
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
                transform: translateY(-2px);
              }
              .icon_cart {
                font-size: clamp(0.938rem, 0.667rem + 1.35vw, 1.75rem);
              }
            }
          }
        }
      }
      .coment {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .stars {
          display: flex;
          align-items: end;
          gap: 8px;
          h1 {
            font-weight: 500;
            font-size: clamp(0.875rem, 0.667rem + 1.04vw, 1.5rem);
            color: #868889;
          }
        }
        .comentary {
          display: flex;
          align-items: start;
          justify-content: space-between;
          .coment_btn {
            display: flex;
            flex-direction: column;
            gap: 20px;
            textarea {
              width: clamp(21.875rem, 15rem + 34.38vw, 42.5rem);
              height: clamp(9.375rem, 8.333rem + 5.21vw, 12.5rem);
              border-radius: 20px;
              border: 1px solid rgba(0, 0, 0, 0.386);
              padding: 20px;
              outline: none;
              resize: none; /* 🔒 запрещает изменение размера */
              font-size: 19px;
              color: #282828;
            }
            button {
              width: 160px;
              padding: 17px 40px;
              background: #0a8791;
              color: white;
              border-radius: 15px;
              font-weight: 600;
              font-size: 16px;
            }
          }
          .installing {
            width: 100%;
            max-width: 320px;
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 20px;
            .upload {
              width: 100%;
              padding: 20px 40px;
              border-radius: 20px;
              background: #f6f6f6;
              display: flex;
              align-items: center;
              justify-content: space-between;
              span {
                font-weight: 400;
                font-size: 16px;
                color: #8d8d8d;
              }
              .clip {
                font-size: 28px;
                color: #475569;
              }
            }
            .images {
              display: flex;
              align-items: center;
              gap: 8px;

              .photo {
                width: 73px;
                height: 87px;
                border-radius: 5px;
                background: #cfd1d25d;
                display: flex;
                align-items: center;
                justify-content: center;
                .camera_icon {
                  font-size: 30px;
                  color: #a2a4a576;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  #DetailsPage .coment .block {
    .card {
      .image {
        padding: 40px 25px;
      }
    }
  }
}
