#MenuPage {
  padding: 40px 0px 100px 0px;
  .content {
    h1 {
      color: #0a8791;
      font-weight: 500;
      font-style: Medium;
      font-size: 25px;
    }
    .blocks {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 40px;
      margin-top: 50px;
      .card {
        width: 100%;
        height: 190px;
        max-width: 200px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 10px;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        .image {
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 45px;
          background: #0000000a;
        }
        p {
          font-weight: 400;
          font-size: 20px;
          color: #0a8791;
          text-align: center;
        }
      }
    }
  }
}
