#SubCategory {
  padding-block: 40px;
  background-color: #f9f9f9;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 50px;

    h1 {
      font-size: 2rem;
      text-align: center;
      color: #333;
    }

    .blocks {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-between;
      .card {
        width: 100%;
        max-width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 20px;
        transition:
          transform 0.2s ease,
          box-shadow 0.2s ease;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 8px 15px rgba(34, 60, 80, 0.25);
        }
        .incard {
          position: relative;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;
          padding: 20px 30px;

          .image {
            width: 100%;
            height: 120px;
            border-radius: 10px 10px 0 0;
            object-fit: cover;
          }

          .items {
            padding: 15px 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;

            .item_name {
              display: flex;
              justify-content: space-between;
              align-items: center;

              p:first-child {
                font-weight: 500;
                font-size: 18px;
                color: #3e3e3e;
              }

              p:last-child {
                font-weight: 500;
                font-size: 14px;
                color: #a1a1a1;
              }
            }

            p.price {
              font-weight: 600;
              font-size: 20px;
              color: #6cc51d;
            }
          }
        }
        button {
          width: 100%;
          padding: 20px 15px;
          background: linear-gradient(50deg, #0a8791, #0ac3d1);
          color: #fff;
          font-weight: 500;
          font-size: 16px;
          border: none;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          cursor: pointer;
          transition: background 0.2s ease;

          &:hover {
            background: linear-gradient(50deg, #0ac3d1, #0a8791);
          }

          .cart_icon {
            font-size: 20px;
            color: #fff;
          }
        }
      }
    }
  }
}
