.LayoutBar {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.burger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #0a8791;
  z-index: 1002;
}

.overlay {
  display: none;
}

@media (max-width: 750px) {
  .burger {
    display: block;
  }

  .overlay {
    display: block;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
  }
}
