.ResetPassword {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    max-width: 800px;
    padding: 0 20px;

    width: 100%;
    text-align: center;
    h1 {
      font-size: 32px;
      margin-bottom: 40px;
    }
    .form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .input {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        position: relative;
        input {
          width: 100%;
          padding: 12px 12px 12px 40px;
          border: 1px solid #ccc;
          border-radius: 8px;
          font-size: 16px;
        }
        label {
          font-weight: 500;
          color: #8b8b8b;
        }
        p {
          font-weight: 500;
          color: #8b8b8b;
          font-size: 14px;
        }
        .icon {
          position: absolute;
          top: 52%;
          left: 12px;
          transform: translateY(-50%);
          color: #888;
        }
      }
      .button {
        padding: 12px;
        background-color: #0d7d81;
        color: #fff;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #096063;
        }
      }
    }
  }
}
