#Categories {
  padding-block: clamp(0.625rem, -0.284rem + 4.55vw, 3.125rem);

  .content {
    display: flex;
    flex-direction: column;
    gap: clamp(0.938rem, 0.483rem + 2.27vw, 2.188rem);

    p {
      font-weight: 500;
      font-size: clamp(0.75rem, 0.455rem + 1.48vw, 1.563rem);
      color: #0a8791;
    }

    .all_category {
      display: flex;
      align-items: start;
      gap: clamp(1rem, 0.5rem + 2.5vw, 2.5rem);
      overflow-x: auto;

      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .card {
      border-radius: 15px;
      border: 1px solid rgba(0, 0, 0, 0.354);
      position: relative;
      flex-shrink: 0;
      transition: opacity 0.3s ease;

      cursor: pointer;

      img {
        border-radius: 16px;
        transition: transform 0.3s ease;
        display: block;
      }
      .image {
        width: clamp(3.125rem, -0.739rem + 19.32vw, 13.75rem);
        height: clamp(3.125rem, -0.739rem + 19.32vw, 13.75rem);
        border-radius: 15px;
        border: 0.5px solid rgba(0, 0, 0, 0.21);
      }

      p {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
        font-size: clamp(0.5rem, 0.333rem + 0.83vw, 1rem);
        font-weight: 600;
        color: #0a8791;

        border-radius: 16px;
        background: rgba(255, 255, 255, 0.669);
        opacity: 0;
        transition: opacity 0.8s ease;
        @media (max-width: 1000px) {
          margin: 30px 10px;
        }
      }

      &:hover {
        border: 1px solid #0a8791;

        img {
          width: clamp(3.125rem, -0.739rem + 19.32vw, 13.75rem);
          height: clamp(3.125rem, -0.739rem + 19.32vw, 13.75rem);
          transform: scale(1.05);
        }

        p {
          opacity: 1;
        }
      }

      &:active p {
        opacity: 1;
      }
    }

    .menu_halal {
      .menu_burger {
        display: none;
      }
      .halal {
        width: clamp(3.125rem, -0.739rem + 19.32vw, 13.75rem);
        height: clamp(3.125rem, -0.739rem + 19.32vw, 13.75rem);
        border-radius: 15px;
        border: 0.5px solid rgba(0, 0, 0, 0.21);
      }
    }
    @media (max-width: 750px) {
      display: none;
    }
  }
  .mobile_content {
    width: 100%;
    display: none;
    overflow-x: auto;
    display: flex;
    scrollbar-width: none;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: flex-start;
    display: none;
    @media (max-width: 750px) {
      display: flex;
    }
    button {
      flex-shrink: 0;
      width: max-content;
      border: 1px solid #a2a2a2;
      border-radius: 10px;
      background: none;
      padding: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 16px;
      transition: 0.3s;
      &:hover {
        background: #0a8791;
        border-color: #0a8791;
        color: white;
      }
    }
  }
}
