.Welcome {
  padding-block: 50px;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    .welcome_text {
      width: 100%;
      max-width: 400px;
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 30px;

      h1 {
        font-weight: 600;
        font-size: 48px;
        color: #fe585a;
        max-width: 200px;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.5px;
        color: #474747;
      }
      button {
        width: 100%;
        padding: 10px 20px;
        background: linear-gradient(45deg, #0a8791, #0ac3d1);
        border-radius: 8px;
        color: white;
        font-weight: 500;
        font-size: 20px;
        transition: transform 0.4s ease, box-shadow 0.4s ease;
        &:hover {
          transform: scale(1.03);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
          background: linear-gradient(45deg, #0ac3d1, #0a8791);
        }
      }
    }
    .welcome_img {
      width: 100%;
      .w_image {
        width: 100%;
        height: 100%;
      }
    }
  }
}
