.SideBar {
  background: #ffffff;
  padding: 20px 0;
  border-right: 2px solid #dde1e6;
  width: 300px;
  min-height: 100vh;
  .content {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    h1 {
      font-size: 30px;
      font-weight: 700;
      line-height: 20px;
      text-align: end;
      color: #0a8791;
      span {
        font-size: 15px;
        font-weight: 600;
      }
    }
    .icon {
      display: flex;
      align-items: center;
      gap: 10px;
      .bellContent {
        position: relative;
        .bell {
          position: absolute;
          top: -5px;
          right: -5px;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #da1e28;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
        }
      }
    }
    .nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      a {
        outline: none;
        width: 100%;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 600;
        color: #000;
        text-decoration: none;
        border-radius: 8px;
        transition: background 0.2s ease;
        &:hover {
          background: #e6f7f8;
        }
      }
    }
  }
  .foot {
    margin-top: auto;
    width: 100%;
    .nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      a {
        margin-top: 12px;
        width: 100%;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 600;
        color: #000;
        text-decoration: none;
        border-radius: 8px;
        transition: background 0.2s ease;
        &:hover {
          background: #e6f7f8;
        }
      }
    }
  }
}
